.transaction {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  min-height: 48px;
  margin: 8px 8px 0 0;
  line-height: 48px;
  display: flex;
  justify-content: space-between;
  transition: box-shadow 0.5s;
  p {
    margin: 0;
  }
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 12px 0px;
  }
}

.transactionTab {
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 8px 0 0;
}
